@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap');

:root{
  --Brand-color: #A80000;
  --Dark-Color: #222222;
  --Light-color: #DFDFDF;

  --font-style: 'Poppins', sans-serif;
}

.HeroCarousel{
    background-color: var(--Dark-Color);
    padding-top: 75px;
}

.CarouselPic{
    filter: brightness(30%);
}

.CarouselLink{
    color: var(--Light-color);
    text-decoration: none;
    font-size: large;
    font-weight: 600;

    background-color: var(--Brand-color);
    width: 100px;
    padding: 5px 0;
    border-radius: 5px;
}